<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/all.log" />
      <appendToFile value="true" />
      <MaximumFileSize value="10MB"/>
      <encoding value="utf-8" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date  %-5level [%thread] %newline%message%newline----------------------------------------%newline"/>
      </layout>
    </appender> 
    <logger name="FileLogger">
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <root>
      <!-- 如果不启用相应的日志记录，可以通过这种方式注释掉  -->
      <appender-ref ref="LogFileAppender" />
      <!--<level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="AdoNetAppender_MySql" />-->

      <!--<priority value="WARN"/>
      <appender-ref ref="ConsoleAppender">
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="WARN"/>
          <levelMax value="FATAL"/>
        </filter>
      </appender-ref>-->
    </root>
  </log4net>
</configuration>