div.pager {
  margin: 3px;
  padding: 20px 0;
  text-align: center; }
  div.pager a {
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border: #fff 1px solid;
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #666;
    font-family: simsun; }
    div.pager a:hover {
      border: #34a2d7 1px solid;
      background-color: #34a2d7;
      color: #ffffff;
      text-decoration: none; }
  div.pager span {
    margin: 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-family: simsun;
    border: #f0f0f0 1px solid;
    border-radius: 50%; }
  div.pager span.ellipse {
    border: solid 1px #fff; }
  div.pager span.current, div.pager .item.current {
    border: #34a2d7 1px solid;
    cursor: default;
    background-color: #34a2d7;
    color: #ffffff; }
  div.pager span.disabled, div.pager .prev.disabled, div.pager .next.disabled, div.pager .prev.disabled:hover, div.pager .next.disabled:hover {
    background-color: #f0f0f0;
    cursor: default;
    color: #b3b3b3;
    border-radius: 50%; }
  div.pager a.disabled {
    /*border: #daf1ff 1px solid; background-color: #e8f5fe; color:#0280d7;*/ }
    div.pager a.disabled:hover {
      border: #34a2d7 1px solid;
      background-color: #34a2d7;
      color: #ffffff;
      text-decoration: none; }
  div.pager span.info {
    width: 150px;
    border-radius: 0;
    border: none; }